.row.justify-content-center.mt-5
  .col-4.border
    %h4 譲渡可
    - @gives.each do |give|
      .card.mb-3.border.rounded.mt-2{style:'background-color:#EEEEEE;'}
        .row
          .col-md-4
            =link_to post_path(give),data: {"turbolinks" => false} do
              - photo = Settings.image_icon_url + give.item_photos.first.photo_id + "-thumbnail."
              =image_tag photo,size: '158x120'
              -#= attachment_image_tag(give.item_photos.first, :photo, :fill ,158,120,format: "png", fallback: "no-image-icon.jpg")
          .col-md-8
            .body
            -give.tags.each do |t|
              %h5.d-inline.cord-title
                =t.chara_tag
              %p.card-text.mt-3
                =give.requirement.truncate(25)
              %span.text-muted= "投稿日:#{give.created_at.strftime('%Y/%m/%d %H:%M')}"
    = paginate @gives
  .col-4.border.ml-2
    %h4 交換可
    - @exchanges.each do |exc|
      .card.mb-3.border.rounded.mt-2{style:'background-color:#EEEEEE;'}
        .row
          .col-md-4
            =link_to post_path(exc),data: {"turbolinks" => false} do
              - photo = Settings.image_icon_url + exc.item_photos.first.photo_id + "-thumbnail."
              =image_tag photo,size: '158x120'
              -#= attachment_image_tag(exc.item_photos.first, :photo, :fill ,158,120,format: "png", fallback: "no-image-icon.jpg")
          .col-md-8
            .body
            -exc.tags.each do |t|
              %h5.d-inline.cord-title
                =t.chara_tag
              %p.card-text.mt-3
                =exc.requirement.truncate(25)
              %span.text-muted= "投稿日:#{exc.created_at.strftime('%Y/%m/%d %H:%M')}"
    = paginate @exchanges
