- breadcrumb :edit_mypage, @user
%h3.text-center.p-5{style:'background-color:#EEEEEE;'} #{@user.account_name}さんのマイページ詳細
.container
  = form_with(model: @user, local: true) do |f|
    .row
      .col.offset-1
    .row.mt-5{style:'height:300px'}
      .col-4
        .row.justify-content-center
          = image_tag @image_icon_url,size:'200',class:'shadow-lg mb-2 bg-white.rounded'
          -#= attachment_image_tag @user, :image_icon, format: "png",size: '200x200', fallback: "no-image-icon.jpg",class:'shadow-lg mb-2 bg-white.rounded'
        .row.ml-5
          %ul
            %li
              = f.attachment_field :image_icon
      .col-8
        .row
          .form-group.col-sm-10
            = f.label :introduction,'プロフィール'
            = f.text_area :introduction, class: 'form-control',size:'50x10'
    .form-row
      .col-5.offset-5
        = render 'layouts/errors', obj: @user
        .form-row.mt-4
          .form-group.col
            = f.label :account_name,'アカウント名'
            = f.text_field :account_name, autofocus: true, class: 'form-control', placeholder: '10文字まで'
            /氏名
        %p.mb-1 氏名
        .form-row
          .form-group.col-sm
            = f.text_field :last_name, placeholder: '姓', class: 'form-control'
          .form-group.col-sm
            = f.text_field :first_name, placeholder: '名', class: 'form-control'
        %p.mb-1 氏名(カナ)
        .form-row
          .form-group.col-sm
            = f.text_field :last_name_kana, placeholder: 'セイ', class: 'form-control'
          .form-group.col-sm
            = f.text_field :first_name_kana, placeholder: 'メイ', class: 'form-control'
          /メールアドレス
        .form-row
          .form-group.col-sm
            = f.label :email
            = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'abc1234@example.com'
          /郵便番号
        .form-row
          .form-group.col-sm
            = f.label :postal_code,'郵便番号'
            = f.text_field :postal_code,class: 'form-control', placeholder: 'ハイフンあり'
          /住所
        .form-row
          .form-group.col-sm
            = f.label :address,'住所'
            = f.text_field :address, class: 'form-control'
          /電話番号
        .form-row
          .form-group.col-sm
            = f.label :phone_number,'電話番号'
            = f.text_field :phone_number, class:'form-control', placeholder: 'ハイフンあり'
        .row
          .actions.col-sm-12.text-center.mt-3
            = f.submit "更新", class: 'mt-1 btn btn-secondary btn-lg btn-block'

