- breadcrumb :mypage, @user
%h3.text-center.p-5{style:'background-color:#EEEEEE;'} #{@user.account_name}さんの部屋
.container
  .row.mt-5{style:'height:300px'}
    .col-4.text-center
      .icon
        = image_tag @image_icon_url,size:'200',class:'shadow-lg mb-2 bg-white.rounded'
      .col
        -#フォローボタン
        - unless (current_user == @user) || admin_signed_in?
          = render "users/relationships/follow_btn", user: @user
        - else
          = link_to ' アカウント編集へ', edit_user_path(@user.id), class: 'btn btn-lg btn-info mt-2'

    -#プロフィール
    .col
      %h5
        プロフィール
      .col-10.border.border-dark.rounded.mr-5.mt-3.p-2.shadow-lg.mb-2bg-white.rounded{style:'background-color:#FFF; height:200px;'}
        = simple_format(@user.introduction)
      .col
  .row.justify-content-md-center.mt-5
    .col-md-2.text-center
      %p 投稿数
    .col-md-2.text-center
      %p フォロワー
    .col-md-2.text-center
      %p フォロー
  .row.justify-content-md-center
    .col-md-2.text-center.border-left
      %h4
        = @user.posts.count
    .col-md-2.text-center.border-left
      %h4
        = link_to @user.followed.count, user_follows_path(@user.id),class: 'text-dark'
    .col-md-2.text-center.border-left.border-right
      %h4
        = link_to @user.follower.count, user_followers_path(@user.id),class: 'text-dark'
  - if current_user == @user
    .row.mt-5.p-2.justify-content-center
      .col.col-8.bg-light.border.shadow-sm.mb-2b.rounded
        .row.border
          .col.col-3
            %p アカウント名
          .col.bg-white
            = @user.account_name
        .row.border
          .col.col-3
            %p 性
          .col.bg-white
            = @user.last_name
        .row.border
          .col.col-3
            %p 名
          .col.bg-white
            = @user.first_name
        .row.border
          .col.col-3
            %p 性(カナ)
          .col.bg-white
            = @user.last_name_kana
        .row.border
          .col.col-3
            %p 名(カナ)
          .col.bg-white
            = @user.first_name_kana
        .row.border
          .col.col-3
            %p メールアドレス
          .col.bg-white
            = @user.email
        .row.border
          .col.col-3
            %p 郵便番号
          .col.bg-white
            = @user.postal_code
        .row.border
          .col.col-3
            %p 住所
          .col.bg-white
            = @user.address
        .row.border
          .col.col-3
            %p 電話番号
          .col.bg-white
            = @user.phone_number

.container-fulid{style:'margin-top:100px;background-color:#EEEEEE;'}
  .row
    .col.text-center
      %h3.p-5  投稿リスト
.container.mt-5
  =render 'public/posts/index', posts: @posts
  = paginate @posts

  .row
    -#投稿ボタン
    = render 'layouts/post_btn'
