- breadcrumb :group
.container-fuild{style:'background-color:#EEEEEE;'}
  .row.text-center
    .col
      %h3 トークルーム一覧
.container.my-5
  .row.justify-content-md-center
    - @groups.each do |group|
      .col-7
        .card.mb-3.border.rounded.mt-2.pr-2{style:'background-color:#EEEEEE;height:160px;'}
          .row
            .col-md-4
              =link_to group_path(group.id) do
                - @photo = Settings.image_icon_url + group.thumbnail_id + "-thumbnail."
                =image_tag @photo,size: '170x158',class: 'width:100%'
                -#= attachment_image_tag(group, :thumbnail, :fill ,170,160,format: "png", fallback: "no-image-icon.jpg", size:"170x160")
            .col-md-7.body.p-2
              %h5.d-inline.cord-title
                =link_to group_path(group.id) do
                  = group.room_title
              %p.card-text.mt-3
                = group.body.truncate(20)
              %span
                %strong参加人数#{group.users.count}人
              -if current_user.id == group.master_id
                %span
                  =link_to '編集',edit_group_path(group), class: "btn-sm btn-dark"
                %span
                  =link_to '削除',group_path(group), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn-sm btn-danger"
                %span.text-muted
                  = "投稿日:#{group.created_at.strftime('%Y/%m/%d %H:%M')}"
  = render 'public/groups/group_btn'