%h3.text-center.p-5{style:'background-color:#EEEEEE;'} 新規投稿画面
.container
  = form_with(model: @post, local: true) do |f|
    .row
      .col-6.mx-auto.mt-5.shadow-lg.mb-2.bg-white.rounded
        = render 'layouts/errors', obj: @post
        .form-row
          = f.label :item_photos, '投稿画像（5枚まで）'
        .form-row
          = f.attachment_field :item_photos_photos, multiple: true
        .form-row.mt-4
          .form-group.col
            = f.label :title,'投稿タイトル'
            = f.text_field :title,class: 'form-control'
        .form-row.mt-3
          .form-group
          = f.fields_for :tags, @tags do |t|
            = t.label :tags, 'ジャンルタグ'
            .form-row
              .col
                = t.text_field :title_tag, class: 'form-control', placeholder: '登場作品タイトル名'
              .col
                = t.text_field :brand_tag, class: 'form-control', placeholder: '商品ブランド名'
              .col
                = t.text_field :chara_tag, class: 'form-control', placeholder: 'キャラクター名'
        .form-row.mt-5
          .form-group.col
            = f.label :body,'レビュー内容'
            = f.text_area :body, class: 'form-control',style:'height: 200px'
        .form-row.mt-5
          .form-group.col-5
            = f.select :status, Post.statuses.keys, {include_blank: "選択して下さい"},{class:'form-control',required: true, style: 'font-size:15px'}
        .form-row.mt-5
          .form-group.col
            = f.label :requirement,'譲渡・交換：条件内容'
            = f.text_area :requirement ,class: 'form-control',style:'height: 200px'
        .row
          .col
          = f.submit "投稿", class: 'mt-1 btn btn-secondary btn-lg btn-block'
