.container-fuild.text-center{style:'background-color:#EEEEEE;'}
  %h3 投稿レビュー画面
.container.mt-5.py-5.position-relative{style:'background-color:#EEEEEE;'}
  .row.justify-content-center
    .col-8.text-center
      -if current_user == @user
        %h3.d-inline.mr-5= @post.title
        %span.text-muted.created-time= "投稿日:#{@post.created_at.strftime('%Y/%m/%d %H:%M')}"
        %span.text-muted.updated-time= "更新日:#{@post.updated_at.strftime('%Y/%m/%d %H:%M')}"
        = link_to '投稿を編集する', edit_post_path(@post),data: {"turbolinks" => false},class: 'btn btn-sm btn-dark'
        = link_to '投稿を削除する',post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"
      -else
        %h3.d-inline= @post.title
        %span.text-muted.created-time= "投稿日:#{@post.created_at.strftime('%Y/%m/%d %H:%M')}"
        %span.text-muted.updated-time= "更新日:#{@post.updated_at.strftime('%Y/%m/%d %H:%M')}"
  .row.mt-2.justify-content-center
    .col-lg-7.fotorama{data: {allowfullscreen: "true",nav: "thumbs"}}
      - @items.each do |item|
        - @photo = Settings.item_photo_url + item.photo_id
        =image_tag @photo,size: '100x100', class: ' shadow  mb-5 bg-white rounded ml-3'
        -#= attachment_image_tag(item, :photo, format: "png",size: '100x100', fallback: "no-image-icon.jpg", class: ' shadow  mb-5 bg-white rounded ml-3')

  .row.mt-2.justify-content-center
    .col-6.mt-5
      %p レビュー
      %div{style: 'height:38px;'}
        %span タグ：
        - @tags.compact.each do |item|
          %span.badge.badge-pill.badge-secondary
            = item.brand_tag
          %span.badge.badge-pill.badge-secondary
            = item.title_tag
          %span.badge.badge-pill.badge-secondary
            = item.chara_tag
          -#アロー機能
          %span#arrow
            = render 'public/posts/arrow', post: @post

      .border.border-dark.bg-light.p-1{style: 'height:200px;'}
        = simple_format(@post.body)
  -#譲渡機能
  .row.mt-5.justify-content-center
    .col-6
      -if @post.status ==  "譲渡可"
        %p　譲渡：条件
        .border.border-dark.bg-light.p-1{style: 'height:200px;'}
          = simple_format(@post.requirement)
      -elsif @post.status == "交換可"
        %p　交換可：条件
        .border.border-dark.bg-light.p-1{style: 'height:200px;'}
          = simple_format(@post.requirement)
  -if current_user == @user
    .row.mt-5.bg-light.justify-content-center
      .col-md-3.text-center.my-auto{style: 'height:200px;'}
        %p 投稿者
        = image_tag @image_icon_url,size:'100x100',class:'shadow-lg mb-2 bg-white.rounded'
        -#-if Rails.env.production?
        -#-else
        -#= attachment_image_tag(@user, :image_icon, format: "png",size: '100x100', fallback: "no-image-icon.jpg",class:'shadow-lg mb-2 bg-white.rounded')
      .col-md-2.my-auto
        =link_to user_path(@user) do
          %h4 #{@user.account_name}さん
      .col-md-3.text-center.my-auto
        - unless current_user == @user
          = render "users/relationships/follow_btn", user: @user
        - else
          = link_to '自分の部屋へ', user_path(@user.id), class: 'btn btn-lg btn-info mt-2'
  -else
    .row.mt-5.bg-light.justify-content-center
      .col-md-3.text-center.my-auto{style: 'height:200px;'}
        %p 投稿者
        = attachment_image_tag(@user, :image_icon, format: "png",size: '100x100', fallback: "no-image-icon.jpg",class:'shadow-lg mb-2 bg-white.rounded')
      .col-md-2.my-auto
        =link_to user_path(@user) do
          %h4 #{@user.account_name}さん
      .col-md-3.text-center.my-auto
        - unless current_user == @user
          = render "users/relationships/follow_btn", user: @user
        - else
          = link_to '自分の部屋へ', user_path(@user.id), class: 'btn btn-lg btn-info mt-2'
  .row.justify-content-center
    .col-6
      = render 'layouts/errors', obj: @post_comment
      %p コメント欄
      %div{class: "comment_#{@post.id}"}
        = render 'public/posts/comment', post_comments: @post_comments
  .row.justify-content-center
    .col-6.form-group
      %p 入力フォーム
      = form_with model:[@post,@post_comment],data: {remote: true} do |f|
        = f.text_area :comment, size: "90x2",class:'form-control'
        .text-right.mt-1
          = f.submit 'コメント送信', class: 'mr-auto btn btn-dark btn-sm'
