.container
  .col.col-sm-4.mx-auto.mt-5.shadow-lg.p-3.mb-5.bg-white.rounded
    %h2 管理者ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-row.mt-4
        .form-group.col-sm
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email",class: 'form-control'
      .form-row
        .form-group.col-sm
          = f.label :password
          %br/
          = f.password_field :password, autocomplete: 'current-password',class: 'form-control'
      .row
        .actions.col.-sm.text-center
          = f.submit 'ログイン',class: 'mt-1 btn btn-secondary btn-lg btn-block'
