.container.mt-5
  .row
    - tags.each do |tag|
      .col-2
        .card
          =link_to post_path(tag.post.id),data: {"turbolinks" => false} do
            = attachment_image_tag(tag.post.item_photos.first, :photo, :fill ,158,120,format: "png", fallback: "no_image.jpg",class: 'width:100%')

          .card-body.position-relative
            .card-title.mb-1
              %p.mb-0= tag.post.title
            .card-text{style:'font-size: 2px;'}
              = image_tag 'arrow.png', size: "20x20"
              %span.text-muted="#{tag.post.arrows.count}アロー"
              - tag.post.tags.each do |t|
                %p.mb-0= t.brand_tag
                %p.mb-0= t.title_tag
                %span.mb-0= t.chara_tag
                %span.text-muted= tag.post.created_at.strftime('%Y/%m/%d %H:%M')
                %span.position-absolute
                  =link_to 'more', post_path(tag.post.id),class: 'badge'