-#管理者ログイン
- if admin_signed_in?
  %nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
    .collapse.navbar-collapse#navbarNAV
      %ul.navbar-nav{style: 'font-size:0.8em;'}
        %li.nav-item.active
          = link_to '投稿一覽', posts_path, class: 'nav-link'
        %li.nav-item.active
          = link_to 'トークルーム', index_group_chats_path, class:'nav-link'
        %li.nav-item.active
          = link_to 'ユーザー', index_group_chats_path, class:'nav-link'
        %li.nav-item.active
          = link_to '譲渡・交換', requirements_path, class:'nav-link', style: 'border-right: solid 0.1em silver;'
        %li.form-inline.ml-5
          .form-group
            = form_tag(search_path, method: :get) do
              = text_field_tag 'search[content]','',class: 'form-control',style: 'width:300px;height:30px;'
              = select_tag 'search[model]', options_for_select({ "ユーザー" => "user", "投稿タイトル" => "post", "商品ブランド" => "brand", "作品名" => "title", "キャラクター" => "chara" }),class: 'form-control',style: 'font-size:10px;'
              = select_tag 'search[method]', options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }),class: 'form-control',style: 'font-size:10px;'
              = submit_tag '検索',class: 'btn btn-sm btn-outline-light'
      %ul.navbar-nav.ml-auto{style: 'font-size:0.8em;'}
        %li.nav-item.active
          = link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: nav-link, style: 'border-right: solid 0.1em silver;'
  -#ユーザーログイン
- elsif user_signed_in?
  %nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    .collapse.navbar-collapse#navbarNAV
      %ul.navbar-nav{style: 'font-size:0.8em;'}
        %li.nav-item.active
          = link_to '投稿一覽', posts_path, class: 'nav-link'
        %li.nav-item.active
          = link_to 'トークルーム', index_group_chats_path, class:'nav-link'
        %li.nav-item.active
          = link_to 'ジャンル', tags_path, class:'nav-link'
        %li.nav-item.active
          = link_to '譲渡・交換', requirements_path, class:'nav-link', style: 'border-right: solid 0.1em silver;'
        %li.form-inline.ml-5
          .form-group
            = form_tag(search_path, method: :get) do
              = text_field_tag 'search[content]','',class: 'form-control',style: 'width:300px;height:30px;'
              = select_tag 'search[model]', options_for_select({ "ユーザー" => "user", "投稿タイトル" => "post", "商品ブランド" => "brand", "作品名" => "title", "キャラクター" => "chara" }),class: 'form-control',style: 'font-size:10px;'
              = select_tag 'search[method]', options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }),class: 'form-control',style: 'font-size:10px;'
              = submit_tag '検索',class: 'btn btn-sm btn-outline-light'
      %ul.navbar-nav.ml-auto{style: 'font-size:0.8em;'}
        %li.nav-item.active
          = link_to '自分の部屋', user_path(current_user), class: 'nav-link'
        %li.nav-item.active
          = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link', style: 'border-right: solid 0.1em silver;'
  -#ログイン前
- else
  %nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    .collapse.navbar-collapse#navbarNAV
      %ul.navbar-nav{style: 'font-size:0.8em;'}
        %li.nav-item.active
          = link_to '投稿一覽', posts_path, class: 'nav-link'
        %li.nav-item.active
          = link_to 'トークルーム', index_group_chats_path, class:'nav-link'
        %li.nav-item.active
          = link_to 'ジャンル', tags_path, class:'nav-link'
        %li.nav-item.active
          = link_to '譲渡・交換', requirements_path, class:'nav-link', style: 'border-right: solid 0.1em silver;'
        %li.form-inline.ml-5.my-auto
          .form-group
            = form_tag(search_path, method: :get) do
              = text_field_tag 'search[content]','',class: 'form-control',style: 'width:300px;height:30px;'
              = select_tag 'search[model]', options_for_select({ "ユーザー" => "user", "投稿タイトル" => "post", "商品ブランド" => "brand", "作品名" => "title", "キャラクター" => "chara" }),class: 'form-control',style: 'font-size:10px;'
              = select_tag 'search[method]', options_for_select({ "完全一致" => "perfect", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partial" }),class: 'form-control',style: 'font-size:10px;'
              = submit_tag '検索',class: 'btn btn-sm btn-outline-light'
      %ul.navbar-nav.ml-auto{style: 'font-size:0.8em;'}
        %li.nav-item.active
          = link_to '新規会員登録', new_user_registration_path, class: 'nav-link'
        %li.nav-item.active
          = link_to 'ログイン', new_user_session_path, class: 'nav-link', style: 'border-right: solid 0.1em silver;'